@media screen and (max-width: 767px) {
    .ttl-login{
        font-size: 4.5em !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ttl-login{
        font-size: 4.5em !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ttl-login{
        font-size: 5em !important;
    }
}

/* Login */
.btn {
    color: #FFFFFF !important;
    background-color:rgba(255, 235, 157, 1) !important;
    border-color: rgba(255, 235, 157, 1) !important;
    alignment: center; !important;
}

.btn:focus{
    outline: none !important;
}

.btn:active {
    background-color: #F5E295 !important;
}

.ttl-login{
    color:rgba(255, 235, 157, 1) !important;
    text-align: center !important;
    font-size: 5rem;

    margin: 0;
}

.txt-login{
    color:rgba(255, 235, 157, 1) !important;
    text-align: center !important;
    font-size: 1.1em !important;
    padding-top: 0.5em;
}

.form-control{
    background-color:rgba(255, 235, 157, 0.5) !important;
    border-color: rgba(255, 235, 157, 1) !important;

    text-align: left !important;
    color: rgba(0,0,0,1) !important;
}

.form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 235, 157, 1) !important;
}

.img-login{
    height: 4em;
    width: 4em;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.top-div{
    padding-top: 2em;
    padding-bottom: 2em;
}

.center-div{
    padding: 1em 0 1em 0;

}

.bottom-div{
    padding: 1em 0 1em 0;
}

/* Login */

/* Register*/
.row-centro{
    height:70% !important;
}

.row{
    width: 100%;
}

.decoradoTop{
    background-color:rgba(255, 235, 157, 1) !important;
    height: 15%;
    -webkit-clip-path: ellipse(60% 75% at 50% 20%);
}

.decoradoBottom{
    background-color:rgba(255, 235, 157, 1) !important;
    height: 15%;
    -webkit-clip-path: ellipse(60% 75% at 50% 80%);
}

.form{
    height: 70%;
}

.span-optional{
    color: #a0a0a0 !important;
}

/* Register*/

/* Profile */

.img-profile{
    padding:0 !important;
}

.btn-danger{
    background-color:#d9534f !important;
    border-color: #d43f3a !important;
}

.btn-danger:focus{
    outline: none;
}

.btn-danger:active{
    background-color:#c9302c !important;
    border-color: #d43f3a !important;
}

.div-profile-header{
    height: 35%;
}

.div-mascotas{
    /*padding-top: 5%; */
    /* padding-bottom: 5%; */
    background-color: rgba(255, 235, 157, 1);
    height: 65%;
    overflow: auto;
    border-top: solid thin rgba(255, 235, 157, 0.5);
    box-shadow: 0px -1px 1px rgba(255, 235, 157, 1);
}

.div-ind-mascota{
    padding-bottom: 5%;
    border-bottom: solid thin grey;
    /* border-top: solid thin grey; */
    padding-top: 5%;
    height: 25%;
}

.img-mascota{
    max-height: 100%;
    max-width: 100%;
}

.btn-left{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.btn-right{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

/* Profile */

/* Map */

.angular-google-map-container {
    height: 400px;
}

/* Map */

/* Friends */

.input-search {
    padding: 10px 16px !important;
    height: 100% !important;
    width: 75% !important;
    border-radius: 0 !important;
    font-size: 18px !important;
}

.btn-search{
    height: 100% !important;
    border-radius: 0 !important;
}

.btn-success{
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.btn-success:focus{
    background-color: #449d44 !important;
    border-color: #255625 !important;
}

.div-search{
    height: 8% !important;
    margin: 0;
}

.div-friend{
    height: 92%;
    overflow: auto;
}

/* Friends */

/*Ramon*/
.search{
    position: fixed;
    top: 25px;
    background-color: white;
    width: 100%;
}

.notif{
    position: fixed;
    top: 50px;
}
/*Ramon*/
