<div ng-app="woodyApp" ng-controller="registerUserController">
    <div class="row decoradoTop">
    </div>
    <div class="row row-centro">
        <form class="col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10" name="loginForm" method="post">
            <div class="row">
                <span>Nombre de usuario</span>
                <input type="text" id="username" class="form-control input-login" placeholder="Username" aria-describedby="basic-addon1">
            </div>
            <div class="row">
                <span>Contraseña</span>
                <input type="password" id="password" class="form-control input-login" placeholder="Password" aria-describedby="basic-addon1">
            </div>
            <div class="row">
                <span>Confirma tu contraseña</span>
                <input type="password" id="checkpassword" class="form-control input-login" placeholder="Confirm Password" aria-describedby="basic-addon1">
            </div>
            <div class="row">
                <button type="submit" class="col-xs-offset-9 col-xs-2 col-sm-offset-9 col-sm-2 btn btn-lg" ui-sref="registroAnimal" >&gt;</button><br>
            </div>
        </form>
    </div>
    <div class="row decoradobottom">
    </div>
</div>