<div ng-app="woodyApp" ng-controller="registerAnimalController" ng-init="initView()">
    <!--<div class="decoradoTop"></div>-->
    <div class="row-centro">
        <form-animales-registro ng-repeat="x in numero track by $index"></form-animales-registro>
        <div class="row">
            <button type="button" class="col-xs-2 col-sm-2 btn btn-lg pull-left"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
            <button type="submit" ui-sref="login" ng-click="registrarAnimales()" class="col-xs-2 col-sm-2 btn btn-lg pull-right"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button><br>
        </div>
    </div>
    <!--<div class="decoradobottom"></div>-->
</div>