<div  ng-app="woodyApp" ng-controller="perfilUsuarioController">
    <div class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11">
        <button class="pull-left col-xs-2 col-sm-2 btn btn-lg"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
        <img src="./img/person.svg" class="col-xs-offset-1 col-sm-offset-1 img-profile">
        <button class="pull-right col-xs-2 col-sm-2 btn btn-lg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
    </div>
    <div class="col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11">
        <!-- DATOS -->
    </div>
</div>