/* Login */
.btn-login {
    color: #FFFFFF !important;
    background-color:rgba(255, 235, 157, 1) !important;
    alignment: center;
}

.ttl-login{
    color:rgba(255, 235, 157, 1) !important;
    text-align: center !important;
    font-size: 5rem;
}

.txt-login{
    color:rgba(255, 235, 157, 1) !important;
    text-align: center !important;
}

.input-login{
    background-color:rgba(255, 235, 157, 0.5) !important;
    border-color: rgba(255, 235, 157, 1);

    text-align: left !important;
    color: rgba(0,0,0,1) !important;
}
